
body { 
    font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
    background-image: url('http://www.solidbackgrounds.com/images/2880x1800/2880x1800-pastel-purple-solid-color-background.jpg'); 
	margin: 0; 
	padding: 0;
	}

p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #660066;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #660066;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #CC3399;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */



header {
	padding-top: 20px;
	height: 87px;
}


html,body{margin:0;padding:0}

p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#000000;}

div#extra{float:left;clear:left;width:200px}
div#footer{clear:both;width:100%}



